/* TodoApp.css */

body{
  margin: 0;
  background-image: url('https://plus.unsplash.com/premium_photo-1675747504387-7bdefe00b9ad?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YWVzdGhldGljJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
}
.todo-app {
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f6e0b5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

h1 {
  color: #66545e;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #66545e;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #aa6f73;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #a39193;
  cursor: not-allowed;
}

.warning-message {
  color: #aa6f73;
  margin-bottom: 10px;
}

.filter-container {
  display: flex;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
  font-size: 14px;
  color: #66545e;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.checkbox-container {
  margin-right: 10px;
}

.task-text {
  flex: 1;
  font-size: 16px;
  color: #66545e;
  text-decoration: none;
}

.task-text.completed {
  text-decoration: line-through;
  color: #a39193;
}

.edit-buttons {
  display: flex;
}

.edit-buttons button {
  margin-right: 5px;
  padding: 5px;
  background-color: #aa6f73;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-buttons button:hover {
  background-color: #eea990;
}
